.DS_Store
*.pyc
*.pyo
*.egg-info
ve
pip-log.txt
*~
*#
.#*
*.sw[op]
.ropeproject
docs/build
.idea/
*.db
*.sqlite3
.project
.pydevproject
.settings/
.cache/
.pip-download-cache/
storyville/conf/local_releases.py
.coverage
nosetests.xml
*.orig
coverage.xml
pylint.properties
pylint.txt
pylintrcs
solr/solr/*/data
solr/cmg-virtualbox_DEFAULT_*
storyville/conf/mysettings.py

# Ignore generated content
/apache/vhosts.d/*
